**/.DS_Store
**/__pycache__
**/.vscode
**/.idea
/_code/*
/content/drafts
/output/
/output/*
/content/notebooks/.ipynb_checkpoints
/content/notebooks/.ipynb_checkpoints/*
/*.pyc
/*.pid
/cache/*
content/notebooks/ml-100k/allbut.pl
content/notebooks/ml-100k/mku.sh
content/notebooks/ml-100k/README
content/notebooks/ml-100k/u.data
content/notebooks/ml-100k/u.genre
content/notebooks/ml-100k/u.info
content/notebooks/ml-100k/u.item
content/notebooks/ml-100k/u.occupation
content/notebooks/ml-100k/u.user
content/notebooks/ml-100k/u1.base
content/notebooks/ml-100k/u1.test
content/notebooks/ml-100k/u2.base
content/notebooks/ml-100k/u2.test
content/notebooks/ml-100k/u3.base
content/notebooks/ml-100k/u3.test
content/notebooks/ml-100k/u4.base
content/notebooks/ml-100k/u4.test
content/notebooks/ml-100k/u5.base
content/notebooks/ml-100k/u5.test
content/notebooks/ml-100k/ua.base
content/notebooks/ml-100k/ua.test
content/notebooks/ml-100k/ub.base
content/notebooks/ml-100k/ub.test
